<odoo>
    <menuitem id="menu_sales_territory_root" name="Sales Territory Planner" sequence="10"/>
    
    <menuitem id="menu_sales_territories"
              name="Manage Territories"
              parent="menu_sales_territory_root"
              action="action_sales_territory"
              sequence="10"/>
    
    <menuitem id="menu_customer_visit"
              name="Customer Visits"
              parent="menu_sales_territory_root"
              action="action_customer_visit"
              sequence="20"/>
    <menuitem id="menu_customer_inventory"
          name="Customer Inventory"
          parent="menu_sales_territory_root"
          action="action_customer_inventory"
          sequence="30"/>
   


</odoo>
